.idea
.vscode
build
build/*
build/lab2
build/CMakeFiles/lab2.dir/compiler_depend.internal
build/CMakeFiles/lab2.dir/compiler_depend.make
build/CMakeFiles/lab2.dir/main.cpp.o
build/CMakeFiles/lab2.dir/main.cpp.o.d
build/CMakeFiles/lab2.dir/matrix.cpp.o.d
build/CMakeFiles/lab2.dir/ode_solver.cpp.o.d
build/CMakeFiles/lab2.dir/opt_alg.cpp.o.d
build/CMakeFiles/lab2.dir/solution.cpp.o.d
build/CMakeFiles/lab2.dir/user_funs.cpp.o.d
lab_1_real_lagrange.csv
lab1_results.csv
build/lab2
build/launch.json
build/CMakeFiles/lab2.dir/compiler_depend.make
build/CMakeFiles/lab2.dir/main.cpp.o
build/CMakeFiles/lab2.dir/main.cpp.o.d
build/CMakeFiles/lab2.dir/matrix.cpp.o.d
build/CMakeFiles/lab2.dir/ode_solver.cpp.o.d
build/CMakeFiles/lab2.dir/opt_alg.cpp.o
build/CMakeFiles/lab2.dir/opt_alg.cpp.o.d
build/CMakeFiles/lab2.dir/solution.cpp.o.d
build/CMakeFiles/lab2.dir/user_funs.cpp.o
build/CMakeFiles/lab2.dir/user_funs.cpp.o.d
lab2
